.creations-list {
  padding: 15px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.creations-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
